Flask
werkzeug
Flask-HTTPAuth
SQLAlchemy
Flask-SQLAlchemy
flask-mysqldb
Flask-OAuthlib
git+https://github.com/ChaosEternal/vcap-config.git
git+https://github.com/ChaosEternal/python-bosh-api.git
git+https://github.com/ChaosEternal/ods-adapter.git
